<h1>
    <a href="{{ include.post.url }}"> {{ include.post.title }} </a>
    <meta itemprop="name" content="{{ include.post.title }}" />
    <meta itemprop="keywords" content="{{ include.post.title }}" />
</h1>
<div class="subtitle">
    <time datetime="{{ include.post.date | date_to_xmlschema }}"> {{ include.post.date | date: "%B %-d, %Y" }} </time>
    | {% for category in include.post.categories %}
    <span itemprop="recipeCategory">{{category}}</span>
    {% endfor %} | {% case include.post.recipe.diet %} {% when "vegan" %} {% include recipe-diet-icon.html diet="vegan"
    %} {% when "vegetarian" %} {% include recipe-diet-icon.html diet="vegetarian" %} {% endcase %}
    <div id="wpac-rating"></div>
</div>
<meta itemprop="recipeCuisine" content="{include.post.cuisine}" />
